params {
    // paths to input fastqs. Comma delimited (e.g., /path/to/R1.fq.gz,/path/to/R2.fq.gz)

    _fqPath = "${PWD}/in"
    fastqInputs = "${_fqPath}/LHG0146_R1_001.fastq.gz,${_fqPath}/LHG0146_R2_001.fastq.gz"

    // genome example : hg19, hg38, mm9, mm10
    genome     ="hg38"
    bwaIndex   = "/projects/ruan-lab/processing/genomes/${genome}/${genome}"
    run        = "LHG0146"
    runType    = "qcseq"
    ipFactor   = "CTCF"
    cellType   = "GM12878"
    inputCtrl  = "/projects/ruan-lab/USERS/slek/ref/GM12878_input_hg38_ENCFF666FGB.bam"
    blackList  = "/projects/ruan-lab/USERS/slek/ref/hg38_blacklist.bed"
    //peakCaller = "macs2"
    peakCaller = "spp"

    // Base directory where output will be stored
    outputDir = "ChIA-PIPE_nxf_output"
    
    tmpdir = "/fastscratch/${USER}"
    
    // Your email address
    email = "${USER}@jax.org" 
}

